@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.navbar{
  position: sticky !important;
  background-color: transparent;
  width: 100%;
  padding: 10px 0;
  top: 0;
  z-index: 100;
  line-height: 20px;
  text-decoration: none;
  padding-bottom: 10px;
  height: 40px;
  top: 0;
}
.right carousel-control{
    padding-right: 0;

}
.carousel .item {
    height: 50rem;
  }
  
  .item img {
      position: absolute;
     height:  50rem;
      top: 0;
      left: 0;
      min-height: auto;
  }
  .carousel-inner > .item > img {
    width:1500px;
    height:50rem;
  
    .carousel{
    height: 300px,!important>
    position: relative;

    }
}
.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

}
.logo{
  font-size: 40px;
  font-weight: 100;
  font-family: 'Great Vibes',sans-serif;
  color: #222222;
  cursor: pointer;
  padding-left: -30px;
  margin-left: -40px;
  text-decoration: none !important;
}
h1 {
    font-weight: 100;
    font-family: 'Great Vibes',sans-serif !important;
  }
  
  h2 {
    font-weight: 100;
  
    font-family: 'Great Vibes',sans-serif !important;
  }
  h3{
    font-weight: 100;
    font-family: 'Great Vibes',sans-serif !important;
  }
.logos{
    font-size: 25px;
    font-family:'Great Vibes',sans-serif;
    margin-top: -0px;
    color: black;
    margin-left: -150px;
    font-weight: 10;
    text-decoration: none !important;
    
    
    
}
.card-img-top{
  margin-bottom: -20px;
}

 .card-title{
   margin-left: 110px;
 }
 .card-text{
   margin-left: 110px;
 }
.menu11{
  margin-top: -10px;
  
}

.meneu{
  margin: -100px;
  height: 500px !important;
  width: 150%;
  margin-left: -40px;
  margin-top: -250px;
}
.menu1{
 
  height: 300px;
  padding: 33px;
  display: block;
}
.bgimg{
  width: 100%;
}
.title2{
  margin-top: -250px;
  margin-left: 550px;
  font-size: 140px;
}
.title3{
  margin-top: 150px;
  margin-left: 685px;
  font-size: 100px;
}
.orderfrommenu{
  background-color: #c8ab7f;
  border-radius: 10px;
  width: 90px;
  border-color: transparent;
  margin-bottom: 100px;
  margin-left: 675px;
  height: 50px;

}
.build{
  background-color: #c8ab7f;
  border-radius: 10px;
  width: 90px;
  border-color: transparent;
  height: 50px;
}
.title{
    font-size: 25px;
    font-family:'Raleway',sans-serif !important;
    font-weight: 500;
    margin-left: 30px;

}
.navbar-menu a{
  font-size: 13px;
  font-weight: 500;
  font-family: 'Raleway',sans-serif;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 35px;
  display: inline-block;
  padding-top: 5px;
  text-decoration: none !important;
  
}
.fa fa-instagram{
  margin-left: -50px;
}
.footer{
  background-color: #222222;
  color: white !important;
  text-decoration: none;
  font
}

   .title{
     height: 300px;
     margin-top: -270px;
     margin-left: 50px;
     
   }
.yes3{
  background-color: #c8ab7f;

  border-color: transparent;
  border-radius: 8px;
  color: black;
  width: 70px;
  height: 40px;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
  font-family:'Raleway',sans-serif !important;
  font-weight: 500;
  

}

.menu-item-description {
  line-height: 1.6;

}
.menu-item-price{
  white-space: nowrap;
}
@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}

.yes1{
  background-color: #c8ab7f;

  border-color: transparent;
  border-radius: 8px;
  color: black;
  width: 70px;
  height: 40px;

}
.viewmore{
  background-color: transparent;
  border-color: transparent;
  margin-left: 1050px;
  margin-top: 0px;
  margin-bottom: -10px;
  bottom: 0;
}
.yes2{
  background-color: #c8ab7f;

  border-color: transparent;
  border-radius: 8px;
  color: black;
  width: 70px;
  height: 40px;
 
}
}
.discount{
    width: 800px !important;
}
.navbar-menu a::after{
  content: '';
  display: block;
  width: 0;
  height: 1.8px;
  background-color: #1a1410;
  transition: width .3s;
  
}
.logi{
    width:1000px !important;
    height: 400px !important; 
    padding-right: 450px;
    margin-left: -100px;
    margin-bottom: -200px;
    margin-top: 50px;

}
.qr{
    width:1300px !important;
    height: 500px !important;
    padding-left: 700px;
    
}

.menu{
 
  background-repeat: no-repeat;
}
.carousel-item{
    height: 200px;
} 
.carousel-item img{
    height: 200px;
}
.myCarousel{
    height: 50rem !important;
    padding-bottom: 0;
}
.navbar-menu a:hover::after{
  width: 100%;
}
.button1{
    background-color:#c8ab7f;
    width:50px;
    text-align: left;
    overflow: hidden;
    margin-left: 15px;
    border-radius: 8px;
    height: 50px;
    margin-top: -20px;
   padding-right: 115px;
    display: inline-block;
    font-size: 0px;
    border-color: transparent ;

   

  
  
}

.navbar{
    text-decoration: none;
}

}
#home{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #222222;
  background-color: #f8f2e7;
  padding: 0 100px;
}
.content1{
  display: flex;
  flex-direction: column;
  padding-top: 170px;
}
.title h1{
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.image{
  background-image: url();
  background-position: center;
  background-size: cover;
  width: 370px;
  height: 270px;
}
.content2{
  display: flex;
  flex-direction: column;
  padding-top: 170px;
  padding-left: 20px;
}
.content2 .image{
  background-image: url(img2.jpg);
}
.title p{
  margin-bottom: 0;
  margin-top: 33px;
  font-size: 14px;
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 25px;
}
.content2 button{
... (55 lines left)
